# MinIO local para grabaciones FTM. Solo desarrollo local.
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_REGION_NAME=eu-local-1
MINIO_BUCKET=ftm-recordings
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
